@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #fff;
	color: #333;
	-webkit-text-size-adjust: none;
	font: 18px/28px "Lato", "HelveticaNeue", Arial, mono;
	font-weight: 300;
}
a {
	color: #414141;
	text-decoration: underline;
}
p{
	margin-bottom: 20px;
}

/* Custom */

#content {
	padding: 70px 0 50px;
}

.right{
	text-align: right;
}

.center {
	text-align: center;
}
/* Columns ------------------------------*/
 .one_half {
	width: 48%;
}
.one_third {
	width: 30.66%;
}
.two_third {
	width: 65.33%;
}
.one_fourth {
	width: 22%;
}
.three_fourth {
	width: 74%;
}
.one_fifth {
	width: 16.8%;
}
.two_fifth {
	width: 37.6%;
}
.three_fifth {
	width: 58.4%;
}
.four_fifth {
	width: 79.2%;
}
.one_sixth {
	width: 13.33%;
}
.five_sixth {
	width: 82.67%;
}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 0px;
	float: left;
}
.one_half p, .one_third p, .two_third p, {
	margin-bottom: 0!important;
}
.last {
	margin-right: 0!important;
	clear: right;
}

.spread{
	margin-bottom: 12px;
}
.right{
	text-align: right;
}

.kasse-inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background: #F0FFFD;
  padding: 50px;
  border-radius: 3px;
  color: #2C6F53;
  letter-spacing: 1px;
}

.kasse {
	height: 168px;
	line-height: 168px;
	text-align: center;
}
/* Columns end------------------------------*/
p.service {
  font-size: 20px;
  background-color: #FAFAFA;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  padding: 10px 17px;
  font-weight: 400;
  margin-top: 9px;
  border-radius: 3px;
  color: #5F5F5F;
}

#content, .inner {
	width: 940px;
	margin: 0 auto;
}
.clearfix {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}
span.bold {
	margin-right: 5px;
}
strong {
	font-weight: bold;
}

p.leistung {
	margin-top: 25px;
}
/* Footer ------------------------------*/
#footer {
	padding-top: 20px;
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
}
#footer_content {
height: auto;
width: 940px;
margin: 0 auto;
padding: 100px 0;
text-align: center;
color: #909090;
font-size: 15px;
font-style: normal;
line-height: 26px;
letter-spacing: 2px;
}
#footer p {
	margin-bottom: 0;
}
#footer a {
	text-decoration: none;
	color: #909090;
	font-weight: 400;
}
/* Footer end------------------------------*/
.left {
	float: left;
}
.sep {
	text-align: center;
	background: url(../images/sep.png) repeat-x 0 14px;
	margin: 60px 0 30px 0;
}
.menusep {
	background: url(../images/sep.png) repeat-x 0 12px;
	
	margin-bottom: 10px;
}
.dummysep{
	margin-bottom: 10px;
}
.dummysep-two{
	margin-bottom: 53px;
}
.menusep span{
	background-color: #ffffff;
	font-size: 20px;
	padding-right: 10px;
}
.dummysep span{
	background-color: #ffffff;
	font-size: 15px;
	
}

#content div.sep span {
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #404040;
}

super {
	font-size: 10px;
  top: -5px;
  position: relative;

}

.fine-print {
	position: relative;
  top: -24px;
  padding-bottom: 5px;
  font-size: 14px;
}
}
/* Map ------------------------------*/

#map {
	padding: 0px;
	overflow: hidden;
	height: 292px;
	width: 100%;
	margin-top: 5px;
}

#map {
	color: #fff;
	padding: 0px;
	height: 292px;
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
}

.leaflet-popup-content {
	font-family: Lato;
}
/* Map end ------------------------------*/

#concept, #gallery, #about, #services, #contact {
	width: 100%;
	height: auto;
}
#concept_content, #gallery_content, #about_content, #services_content, #contact_content {
	width: 100%;
	height: auto;
}
/* Gallery ------------------------------*/
#gallery_container {
	width: auto;
	margin: 0 auto;
}
.item {
	float: left;
	width: 300px;
	height: 193px;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	overflow: hidden;
	position: relative;
	margin: 0 0 20px 0;
}

.item img {
	width: 300px;
	height: 193px;
}
.featured {
	width: 940px;
	height: 300px;
}
.featured img {
	width: 940px;
	height: 300px;
}
a .overlay {
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: none;
	left: 0;
	cursor: pointer;
}
a .overlay .icon {
	position: absolute;
	background-position: 0 -62px;
	width: 22px;
	height: 22px;
	display: block;
	top: 48%;
	left: 48%;
	z-index: 40;
}
.overlay {
	background-color: rgba(255, 255, 255, .8);
}
/* Gallery end ------------------------------*/

/* Top part ------------------------------*/
#logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
}
#top {
	text-align: center;
	position: relative;
	background: url(../images/bg.jpg);
	height: 1000px;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 100%;
    min-height: 100%;
}
.separator {
	margin: 0 10px;
}
#scrolldown {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	font-size: 1.2em;
	color: #fff;
	bottom: 30px;
}
#scrolldown::after {
	display: block;
content: '\2193';
color: #fff;
font-size: 3em;
line-height: 1;
}
#container {
	background-color: #fff;
}

.partner {
	margin-top: 30px;
}
/* Top part end ------------------------------*/
#about_content img {
	margin-bottom: 30px;
	display: block;
}

#about_content div.one_half div.two_third p,
#services_content div.one_third div.two_third p, 
#services_content div.one_third div.one_third p {
	margin-bottom: 0;
}

/* Navbar ------------------------------*/
#header-wrap {
	top: -60px;
	position: fixed;
	width: 100%;
	height: 62px;
	background: #333;
	z-index: 10;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: .9;
}

#header {
	margin: 0 auto;
	width: 940px;
}

#header-inner {
	float: left;
	position: relative;
	width: 100%;
	height: 40px;
}

#nav-logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

#nav-logo h1 {
	margin: 0;
	padding: 0;
	width: 91px;
	height: 56px;
}

#nav-logo a {
	color: #2B2A29;
	width: 240px;
	height: 56px;
	background: transparent url('../images/nav-logo.png') 0 0 no-repeat;
	text-indent: -9999px;
	display: block;
	background-size: 240px 40px;
	margin-top: 15px;
}

#navigation {
	position: absolute;
	top: 19px;
	right: 0px;
}

#navigation ul {
	float: left;
	width: 600px;
	margin: 0;
	padding: 0;
	list-style: none;
}


#navigation ul li {
	float: right;
	width: auto;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 17px;
}

#navigation ul li a {
	color: #ffffff;
	text-decoration: none;
}

#navigation ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#loading{
position: fixed;
top: 0;
width: 100%;
height: 100%;
z-index: 10;
display: block !important;
background-color: #fff;
background-image: url('../images/preload.gif');
background-position: center center;
background-repeat: no-repeat;
}
/* Navbar end ------------------------------*/





